.section--nopaddingtop {
    
    padding-top: 0;
    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.section__title {
    margin-bottom: 50px;
    color: $primary-color;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    line-height: 1.2;
    text-align: center;
}

.gallery {
    display: flex;
}



.gallery__item {
    position: relative;

    &:not(:first-child) {
        margin-left: 30px;
    }
}


.gallery__block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.galery__text {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}