.port-products {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.port-products__item {
    background: #ffffff;
}


.card-set{
    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 100%;
    }
}
.card-set__link {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms $transition-timing-function;


    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    @media screen and (min-width:480px) {
        width: 450px;
        height: 404px;
    }
    
    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        
        // width: 354px;
        height: 440px;
    }

    
    @media screen and (min-width:1200px) {
        width: 370px;
        height: 404px;
    }
}



.card-set__thumb {
    position: relative;
    overflow: hidden;
}

.card-set_img{
    width: 100%;
    @media screen and (min-width:480px) {
        width: 450px;
        height: 294px;
    }
    @media screen and (min-width:768px) {
        width: 354px;
        height: 294px;
    }
    @media screen and (min-width:1200px) {
        width: 370px;
        height: 294px;
    }
}

.card-set__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: $blue-color;

    transform: translateY(100%);
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


        .card-set__link:hover &,
        .card-set__link:focus & {
            opacity: 1;
            transform: translateY(0);
        }
}

.card-set__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: $white-color;

    @media screen and (min-width:320px) and (max-width:479px) {
        font-size: 13px;
    }
}

.card-set-meta {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;

   @media screen and (min-width:768px) and (max-width:1199px) {
       flex-grow: 1;
       width: 354px;
   }
}

.card-set-meta__caption {
    margin-bottom: 4px;

    color: $primary-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.card-set-meta__text {
    color: $secondary-color;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.9;
}