.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section__title {
    margin-bottom: 50px;
    color: $primary-color;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    line-height: 1.2;
    text-align: center;
}